<!-- Header webapp -->
<main role="main">
  <div class="container-fluid">
    <div class="row shadow-sm header--ccd position-relative">
      <div class="col-md-3">
        <dl>
          <dt>
            Pepito Andres Perez Martinez
          </dt>
          <dd>
            CC. 107584523
          </dd>

        </dl>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-9">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2 search" type="text" placeholder="Buscar">
            </form>
          </div>
          <div class="col-md-3">
            <div class="notification">
              <a  href="#">
                <span class="badge badge-pill bg-danger align-text-bottom">3</span>
                <img class="bell" src="assets/img/bell.svg">
              </a>
              <a  href="#">
                <span class="badge badge-pill bg-danger align-text-bottom">2</span>
                <img class="user" src="../assets/img/user.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
