// Seccion Categorias
.catagory-ccd{
  a {
    img{
      box-shadow: 2px 2px 2px #dcdcdc;
      border-radius: 13px;
    }
    p{
      color:$light-blue;
      font-weight: bold;
    }
  }
  .catagory-element{
    img {
      -webkit-transition: all 0.5s ease-in-out;
    }
    img:hover{
      transform: translateY(-3%);
    }
  }
}
// Seccion Incio se sesión