@font-face {

}
h1{
  color:$dark-blue;
  font-size: 18px;
  font-weight: bold;
}
h2{
  color:$dark-blue;
  font-size: 16px;
  font-weight: bold;
}
h3, h4,h5{
  color:$dark-blue;
  font-size: 14px;
  font-weight: bold;
}
p,dt,dd{
  color:$text-color;
  font-size: 16px;
}
.color--gradient-blue{
  background: rgb(2,37,95);
  background: linear-gradient(90deg, rgba(2,37,95,1) 0%, rgba(2,37,95,1) 14%, rgba(38,88,180,1) 52%);
}
body {
  padding-top: 8.5rem;
}
@mixin btn-std {
  padding: 0.5em 2em;
  background-color: $button-blue;
  color:$white;
  text-transform: uppercase;
  border:none;
  font-size: 1em;
  display: block;
  width: fit-content;
  text-decoration:none;
  cursor:pointer;
  border-radius:20px;
  font-weight: bold;

}
.btn-std {
  @include btn-std;
}
.btn-std:hover {
  color: #fff;
  background-color: $dark-blue;
  border-color: #ffffff;
}
.color--gradient-blue {
  .navbar-brand {
    margin: 0px auto;
  }
}

.notification{
  height: 10vh;
  padding: 10px;
  a{
    text-decoration: none;
    border: solid 2px #02255f;
    padding: 8px 0px;
    border-radius: 0.5rem;
    margin-right: 1em;
    color:$white;

  }
  a:hover {
    background: #f7feff;
  }
  .bell{
  width: 20px;
  transform: rotate(-10deg);
    position: relative;
    left: -6px;
  }
  .user {
    width: 20px;
    position: relative;
    left: -6px;
  }
  .badge{
    padding: 0.4em 0.6em;
    font-size: 53%;
    position: relative;
    top: -10px;
    left: 6px;
  }
}
.header--ccd{
  .form-inline {
    .form-control {
      width: 100%;
    }
  }
}
.left-menu {
  a {
    color: $dark-blue;
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
  ul li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .list-group-item-action:hover{

      background-color: #eeeeee87 !important;

  }
  .list-group-item {
    background: $grey;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 1px;
  }
  .active{
    background-color: $white;
    color:$light-blue;
  }
}

.header--ccd{
  z-index: 5;
  ::-webkit-input-placeholder { /* Edge */
    color: var(--info);
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--info);
  }

  ::placeholder {
    color: var(--info);
  }
}
.search {
  background-size: 29px !important;
  background: #ffffff url(../img/search_home.svg);
  background-repeat: no-repeat;
  background-position: 99%;
  border-radius: 20px;
}

