// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------
// Color system
$white: #ffffff;
$red: #FF0000;
$button-blue:#0061ea;
$grey:#f8f9fa;
$dark-blue:#0b457f;
$light-blue:#3898ec;
$text-color:#2a6698;
