<h2>
  MIS CATEGORIAS
</h2>
<p>
  Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
  Aliquam eget sapien sapien. Curabitur in metus urna, aliquam eget sapien sapien. Curabitur in metus urna
</p>

<!--INICIO DE LISTADO DE CATEGORIAS-->

<div class="container-fluid catagory-ccd">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="catagory-element">
        <a (click)="open(content1)" role="button" data-toggle="modal" >
          <img src="assets/img/categorias/1.png">
          <p>Salud »</p>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="catagory-element">
        <a (click)="open(content2)" role="button" data-toggle="modal" >
          <img src="assets/img/categorias/1.png">
          <p>Servicios Públicos »</p>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="catagory-element">
        <a  href="#">
          <img src="assets/img/categorias/1.png">
          <p>Impuestos »</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="catagory-element">
        <a  href="#">
          <img src="assets/img/categorias/1.png">
          <p>Educación »</p>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="catagory-element">
        <a  href="#">
          <img src="assets/img/categorias/1.png">
          <p>Vivienda »</p>
        </a>
      </div>
    </div>

  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <button  type="button" class="btn-std btn btn-primary">Editar Catagorias</button>
    </div>
  </div>

</div>
<!--FIN DE LISYTADO DE CATEGORIAS-->

<!--INICIO DE MODAL 1-->
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World uno!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World dos!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>


<pre>{{closeResult}}</pre>
<!--FIN DE MODAL-->
