<div class="list-group">
  <a [routerLink]="['/hola']" class="list-group-item list-group-item-action p-4 active">Mis Categorias</a>
  <a href="" class="list-group-item list-group-item-action p-4">Historial de Trámites</a>
  <a href="" class="list-group-item list-group-item-action p-4">Historial de Solicitudes</a>
</div>
