<app-header></app-header>

<!-- Contenido webapp -->
<div class="container-fluid content--ccd">
  <div class="row vh-100">

    <div class="col-md-3 left-menu bg-light p-0 ">
      <app-menu></app-menu>
    </div>

    <div class="col-md-9 mt-4 pl-lg-5 pr-lg-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


